Repository apify/apify-sdk-js, pull requests merged in 2025-07, with the labels that each got.

#408 chore: update apify/input_secrets version
  package-lock.json
  package.json
  packages/apify/package.json
Labels: t-console

#412 fix: sync `@docusaurus` dependencies version [internal]
  website/package-lock.json
  website/package.json
Labels: bug, adhoc, t-web

#413 fix: tagline overlap
  website/src/pages/index.module.css
Labels: bug, adhoc, t-web

#414 docs: enable experimental faster features in Docusaurus config
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Labels: adhoc, t-tooling
